<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <bean id="helloFacade" class="org.walkerljl.toolkit.template.service.facade.impl.HelloFacadeImpl"></bean>

    <bean id="serviceLogInterceptor"
          class="org.walkerljl.toolkit.template.log.interceptor.ServiceLogInterceptor"/>

    <bean id="serviceLogInterceptorCreator"
          class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="interceptorNames">
            <list>
                <value>serviceLogInterceptor</value>
            </list>
        </property>
        <property name="beanNames">
            <value>*Facade</value>
        </property>
    </bean>
</beans>
