<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <bean id="integrationLogInterceptor"
          class="org.walkerljl.toolkit.template.log.interceptor.IntegrationLogInterceptor"/>

    <bean id="integrationLogInterceptorCreator"
          class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="interceptorNames">
            <list>
                <value>integrationLogInterceptor</value>
            </list>
        </property>
        <property name="beanNames">
            <value>*Client</value>
        </property>
    </bean>
</beans>
